.trainers{

    place-items: center;
    position: relative;
    margin-left: -5rem;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../../assets/trainers_bg.png");
   background-color: #01233e; */
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-blend-mode:color-dodge;
  
}
.side_img_team{
position: absolute;
bottom: -2rem;
right: -.1rem;
width: 3rem;
height: 7.5rem;


object-fit: cover; 

}
.team{
    text-align: center;
    color:#4A4AC7 ;
   font-weight: bold;
   margin-left: 4rem;
}

.trainers_data{
     display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.3rem;
  place-items: center;
  padding: 2rem;

}
.trainers_info{
    display: flex;

    background-color: red;
    width: fit-content;
    height: 100px;
    margin-left: 4rem;
    color: white;
  border-radius: 1rem;
     border-bottom-left-radius: 1rem;

}

.trainers_img{
    width: 40%;
    height: 100%;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 20rem;
    border-bottom-left-radius: 2rem;
    object-fit: cover;
}
.trainers_name>h3{
 font-family: "Modern Antiqua", serif;
  font-weight: 600;
  font-style: normal;
}
.trainers_name{
    display: grid;
    place-items: center;
    font-size: x-small;
    background-color: red;
        border-top-right-radius: 1rem;
         border-bottom-right-radius: 1rem;
   
}
@media (max-width:900px) {
    .side_img_team{
        width: 3rem;
    }
    
}
@media(min-width:1200px){
    .trainers_data{
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
 

}